
{% extends "baseground.html" %}
{% block body %}
    <style type="text/css" media="screen">
        *{margin: 0;padding: 0;}
        body{
                font-size: 140%;
                font-color: #000000;
            text-align:center;margin:0px auto;
            width:100%;
        }
            .demo {
            width: 600px;
            margin: 40px auto;
            font-family: 'trebuchet MS', 'Lucida sans', Arial;
            font-size: 14px;
            color: #444;
            }
            
            table {
                background-color: #F0FFF0;
                opacity:1.0;
                *border-collapse: collapse; /* IE7 and lower */
                border-spacing: 0;
                width: 100%;
            }
            /*========bordered table========*/
            .bordered {
                border: solid #ccc 1px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                -webkit-box-shadow: 0 1px 1px #ccc;
                -moz-box-shadow: 0 1px 1px #ccc;
                box-shadow: 0 1px 1px #ccc;
            }
            
            .bordered tr {
                -o-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -ms-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;        
            }
            .bordered .highlight,
            .bordered tr:hover {
                background: #BFEFFF;        
            }
            .bordered td, 
            .bordered th {
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                padding: 10px;
                text-align: left;
            }
            .bordered th {
                background-color: #dce9f9;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
                background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
                background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
                background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
                background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
                background-image: linear-gradient(top, #ebf3fc, #dce9f9);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
                -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
                box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
                border-top: none;
                text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            .bordered td:first-child, 
            .bordered th:first-child {
                border-left: none;
            }
            .bordered th:first-child {
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }
            .bordered th:last-child {
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
                border-radius: 0 6px 0 0;
            }
            .bordered tr:last-child td:first-child {
                -moz-border-radius: 0 0 0 6px;
                -webkit-border-radius: 0 0 0 6px;
                border-radius: 0 0 0 6px;
            }
            .bordered tr:last-child td:last-child {
                -moz-border-radius: 0 0 6px 0;
                -webkit-border-radius: 0 0 6px 0;
                border-radius: 0 0 6px 0;
            }
    </style>


    <div class="row">
        <form method="POST" class="form-horizontal col col-sm-6 col-sm-offset-3">

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">教师姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="tname" placeholder="输入您要查询的教师姓名">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">查询</button>
                </div>
            </div>

            <div class="demo">
                <table class="bordered">
                  <thead>
                    <tr>
                        <th>教职工号</th>        
                        <th>教师姓名</th>
                        <th>教师性别</th>
                        <th>教师职称</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                    <tr>
                        <td>
                            <a href="/teacheritem/{{ item.tid }}">{{ item.tid }}</a>
                        </td>
                        <td>{{ item.tname }}</td>
                        <td>{{ item.tsex }}</td>
                        <td>{{ item.tpost }}</td>
                    </tr> 
                    {% endfor %}   
                    </tbody>
            </div>

        </form>
    </div>

{% endblock %}
